<% layout("/layouts/boilerplate") %>
<div class="row new-row">
  <div class="col-6 offset-3">
  <body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <Div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </Div>
      <div class="mb-3">
        <h3>Original listing image </h3>
        <img class="pre-img" src="<%= originalImageUrl %>" height="300px" width="500px" alt="img">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input name="listing[image]" type="file" class="form-control"/>
      </div>
      <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
      <div class="invalid-feedback">Price should be valid</div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
        class="form-control"
        required
        />
        <div class="invalid-feedback">Country name should be valid</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">location should be valid</div>
      </div>
      <br /><br />
      <button class="btn btn-dark offset btn-edit-page">Edit</button>
    </form>
  </body>
  </div>
</div>
